$cell-size: 45px;
$cell-user-width: 150px;
$cell-header-height: 30px;
$event-form-width: 360px;
$forms-height: 500px;


$widget-margin: 20px;

@mixin setSize($width, $height) {
  width: $width;
  min-width: $width;
  max-width: $width;
  height: $height;
  min-height: $height;
  max-height: $height;
}

@mixin set_border_shadow_radius() {
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px, rgba(60, 64, 67, 0.25) 0px 2px 6px 2px;
  }
}

.user-avatar {

  @include setSize($cell-user-width, $cell-size);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;

  .user-icon {
    margin-right: 0.5rem;
    height: 100%;
  }

  .user-data {
    .user-name {
      font-size: 1rem;
      font-weight: 600;
    }

    .user-service {
      font-size: 0.75rem;
      line-height: 5px;

    }
  }
}

.event-data-widget {
  position: absolute;
  top: $widget-margin;
  bottom: $widget-margin;
  right: $widget-margin;
  left: $widget-margin;
  border: 1px solid grayscale($color: #a7a6a6);
  box-shadow: 0px 0px 10px #a7a6a6;
  border-radius: 5px;
  overflow: none;
  z-index: 999;

  &:after {
    content: "";
    position: absolute;
    top: calc($widget-margin - $widget-margin - $widget-margin - 1px);
    bottom: calc($widget-margin - $widget-margin - $widget-margin - 1px);
    right: calc($widget-margin - $widget-margin - $widget-margin - 1px);
    left: calc($widget-margin - $widget-margin - $widget-margin - 1px);
    background: rgba($color: gray, $alpha: 0.15);
    z-index: -1;
  }

  .data-header {
    display: flex;
  }

  .data-body {
    height: 96%;
    overflow-y: none;
    display: flex;
    flex-direction: column;

    .forms {
      display: flex;
      height: $forms-height;

      .form-event {
        @include set_border_shadow_radius();

        width: $event-form-width;
        height: $forms-height;

      }


      .forms-services {
        width: calc(100% - $event-form-width);
        height: 100%;
        overflow-y: hidden;
        @include set_border_shadow_radius();

        .services-nav {
          border: 0;
          padding: 0;
          height: 100%;
          overflow-y: scroll;
          @include setSize(179px, 100%);

        }

        .user-avatar {
          @include setSize(175px, $cell-size);
        }
      }

    }

    .workload {
      overflow: scroll;
      width: 100%;
      height: 70%;
      position: relative;
      @include set_border_shadow_radius();



      .workload-header {
        width: 100%;
        display: flex;
        position: sticky;
        height: $cell-header-height;
        top: 0;
        z-index: 1;

        .header-cell-first {
          @include setSize($cell-user-width, $cell-header-height);
          text-align: center;
          line-height: 28px;
          position: sticky;
          top: 0;
          left: 0;
          display: block;
          z-index: 5;
        }

        .header-cell {
          @include setSize($cell-size, $cell-header-height);
          text-align: center;
          line-height: 28px;

        }

      }

      .workload-body {
        position: relative;

        .workload-service {
          display: flex;
        }
      }

      .service {
        display: flex;
        position: relative;

        .user-avatar {
          position: sticky;
          left: 0;
        }

        .cell {
          // @include setSize($cell-size, $cell-size);
          min-width: $cell-size;
          min-height: $cell-size;
          max-height: $cell-size;
          height: $cell-size;
        }

      }
    }
  }
}

.avatar {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}