::-webkit-scrollbar-track {
    position: absolute;
    --webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}
html {
    overflow-y: hidden;
}

// some styles for the inputs and labels of the copy widget
.dialog-contents {
    position: relative;

    .dialog-event-data-wrapper {
        position: sticky;
        top: 0;
    } 
     @include media-breakpoint-down(lg) {
         .dialog-event-data-wrapper {
             position: relative;
         } 
    }
    .dialog-content-spacer {
        height: 100px;
        padding: 10px;
        margin: 10px;
        background-color: $gray-200;
        border-radius: 7px;
        box-shadow: 0px 0px 5px -1px rgba(50, 50, 93, 0.25),
                    inset -1px -11px 25px -7px rgba(50, 50, 93, 0.25);
        border: 1px solid $gray-300;
        
    }

}


.copy-checkbox {
    display: none;
    ~.copy-label {
        cursor: pointer;
        padding: 0 8px;
        border-radius: 12%;
        font-size: 18px;
        margin-bottom: 2px;
    }

    ~.copy-label {
        background-color: tint-color($warning, 70%);
        &:before {
            content: "✗";
         
        }
        &:hover {
            background-color: tint-color($success, 50%);
            &:before {
                content: "✓";
            }
        }
       

    }

    &:checked~.copy-label {
        background-color: tint-color($success, 70%);
        &:before {
            content: "✓";
        }
        &:hover {
            background-color: tint-color($warning, 50%);
            &:before {
                content: "✗";
            }
        }
    }

    &:disabled~.copy-label {
        background-color: $gray-300;
        cursor: not-allowed;
        &:before {
            content: "ⓧ";
        }
    }
}
.show-more-container {
    max-width: 750px;
    position: relative;
    .show-more-input {
        display: none;
        ~.show-more-label {
            position: absolute;
            top: 0;
            right: 10px;
            margin-top: -24px;
            text-decoration: underline;
            &::before {
                content: "Arata mai mult";
                font-size: small;
                color: rgba($color: #000000, $alpha: 0.475);
            }
        }

        ~.show-more-content {
            max-height: 43px;
            overflow: hidden;
            box-shadow: 0px 0px 5px -1px rgba(50, 50, 93, 0.25),
                        inset -1px -11px 25px -7px rgba(50, 50, 93, 0.25);
            border-radius: 0 0 7px 7px;
            padding-left: 5px;
            transition: max-height  0.5s ease-in-out, box-shadow 0.5s ease-in-out;
            margin-bottom: 2px;


        }

        &:checked{
            ~.show-more-label {
                &::before {
                    content: "Arata mai putin";
                }
            }
            ~.show-more-content {
                max-height: 1000px;
                border-bottom: 0;
                border-bottom: 1px solid $gray-300;
                box-shadow:  0px 0px 5px -1px rgba(50, 50, 93, 0.25); 
                transition: max-height 1s ease-in-out, box-shadow 0.5s ease-in-out;
                
            }
        }
        &:disabled{
            ~.show-more-label {
                &::before {
                    content: "";
                }
            }
            ~.show-more-content {
            }
        }
    }
}

.cupy-button {
    padding: 0 8px;
}
$copyFormContainerWidth: 400px;
.copy-form-container {
    min-width: $copyFormContainerWidth;
    // margin: 0;
    // padding: 0;
}

.data-row {
    max-width: 400px;
    margin-left: 5px;
}


//-------------------------------- for event forms in dataView

.event-form-field{
    position: relative;

    .event-forms-label {
        position: absolute;
        left: 0;
        top: -24px;
        font-weight: 500;
        color: $gray-400;
    }
}

.service-header-toggler-container {
    color: black;
    padding: 16px 10px;
    &:first-child {
        text-transform: capitalize;
    }
    &:nth-child(2) {
        text-transform: capitalize;
    }




}
.accordion-button::after {
    display: none !important;
}

