::-webkit-scrollbar-track {
    position: absolute;
    --webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 3px;
    height: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

// some styles for the inputs and labels of the copy widget

.copy-checkbox {
    display: none;
    ~.copy-label {
        cursor: pointer;
        padding: 0 0.5rem;
        border-radius: 12%;
        margin-bottom: 0.5rem;
    }

    ~.copy-label {
        background-color: tint-color($danger, 70%);
        &:before {
            content: "✕";
            padding-right: 5px;
        }
        &:after {
            content: "✕";
            padding-left: 5px;
        }
    }

    &:checked~.copy-label {
        background-color: tint-color($success, 90%);
        &:before {
            content: "✓";
            padding-right: 5px;
        }
        &:after {
            content: "✓";
            padding-left: 5px;
        }
    }

}