$profile-max-width: 1018px;
$margin: -30px;

@mixin section {
  border-radius: 10px;
  padding: 15px 30px;
  border: 1px solid rgba($color: #000000, $alpha: 0.3);
  margin-bottom: 10px;
}

.profile {
  max-width: 976px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;

  .profile-body {
    .profile-body-left {
    }
    .profile-body-right {
    }
    
  }
}


.profile-settings {
  @include section;
  width: 100%;
  .profile-settings-heading{

    .settings-title {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 12px;
    }
  }
  .settings-nav {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    padding-left: 15px;
    .settings-nav-item {
      padding-right: 12px;
      padding-left: 12px;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      a {
        color: currentColor;
        text-decoration: none;
      }
      &.active {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 1);
        font-weight: 500;
      }
      &:hover:not(.active) {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);
        font-weight: 400;
      }
    }
  }
  .settings-body {

    .settings-body-title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    .settings-body-content {
      
    }
  }
}


.profile-service-work {
  @include section;
  .profile-service-work-heading {
    display: flex;
    .work-title {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 12px;
      margin-right: auto;
    }
  }

  .work-nav {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    padding-left: 15px;
    .work-nav-item {
      padding-right: 12px;
      padding-left: 12px;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      a {
        color: currentColor;
        text-decoration: none;
      }
      &.active {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 1);
        font-weight: 500;
      }
      &:hover:not(.active) {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);
        font-weight: 400;
      }
    }
  }
  .work-body {
    .work-body-card {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    }
  }
}

.profile-service-description {
  @include section;
  .profile-service-description-heading {
    display: flex;
    margin-bottom: 12px;
    .profile-service-description-heading-title {
      font-size: 22px;
      font-weight: 700;
      margin-right: auto;
      text-transform: capitalize;
    }
  }
  .profile-service-description-body {
  }
}

.profile-menu {
  @include section;
  .profile-menu-heading {
    font-size: 18px;
    font-weight: 500;
  }
  .services-nav {
    .services-nav-item {
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 10px;
      cursor: pointer;
      padding: 5px 10px 5px 10px;
      font-weight: 400;
      text-transform: capitalize;

      .services-nav-link {
        color: currentColor;
        text-decoration: none;
      }
      &.active {
        margin-right: -30px;
        margin-left: -30px;
        font-weight: 500;
        background-color: #3485ff;
        color: #fff;
        padding-left: 20px;
        transition: padding-left 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
      }
      &:hover:not(.active) {
        font-weight: 400;
        background-color: #4e95ff;
        color: #fff;
        padding-left: 20px;
        transition: padding-left 0.3s,
        background-color 0.3s;
      }
    }
  }
}

.profile-stats {
  @include section;
  display: flex;
  justify-content: space-between;
  .profile-stat {
    .profile-stat-count {
      font-size: 17px;
      font-weight: 700;
    }
    .profile-stat-name {
      font-size: 12px;
    }
  }
}

.profile-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  @include section;
  padding: 30px 30px 0px 30px;

  .profile-identity {
    display: flex;
    min-height: 115px;

    .profile-image {
      position: relative;
      .profile-avatar {
        width: 80px !important;
        height: 80px !important;
        border-radius: 50%;
        margin-right: 10px;
      }
      .dot {
        height: 16px;
        width: 16px;
        border-radius: 100%;
        position: absolute;
        right: 16px;
        bottom: 37px;
        border: 3px solid #fff;
        &.online {
          background: green;
        }
        &.offline {
          background: yellow;
        }
      }
    }
    .profile-info {
      .profile-name {
        font-size: 24px;
        font-weight: 600;
      }

      .profile-websites {
        display: flex;
        flex-direction: column;
        align-items: left;
        font-size: 14px;
        font-weight: 400;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.profile-button {
  display: inline-block;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: $info;
  border: 1px solid $info;
  border-radius: 50%;
    cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  &:active {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
}

@include media-breakpoint-up(md) {
  .profile {
    margin-left: 10px;
    margin-right: 10px;
  }
  .profile-body {
    display: flex;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-top: 0;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    .profile-body-left {
      display: flex;
      flex-direction: column;
      min-width: 260px;
      border-right: 1px solid rgba($color: #000000, $alpha: 0.3);
    }
    .profile-body-right {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  .profile-header {
    border-bottom: none;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    margin-bottom: 0;
  }

  .profile-stats {
    order: 2;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
  }

  .profile-menu {
    order: 1;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    .services-nav-item {
      position: relative;
      &.active {

        &:after {
          content: "›";
          text-align: end;
          position: absolute;
          right: 10px;
          font-size: 30px;
          line-height: 15px;
        }
      }
    }
  }

  .profile-service-description {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
  }


  .profile-avatar {
    margin-right: 40px;
  }
  .profile-settings {
    border: 0;
  }

}

@include media-breakpoint-up(lg) {
  .profile {
    margin-left: auto;
    margin-right: auto;
  }
}
