.auth-container {
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

    .overlay {
        background-image: linear-gradient(60deg, #14184e, transparent 65%),
            linear-gradient(20deg, #854cc4 40%, transparent),
            linear-gradient(90deg, #1f32d9 30%, #6f85e2);
        color: #FFFFFF;

    }

}

.a-auth {
    color: #333;
    border: 1px solid gray;


}

.button-login {
    border: 1px solid $color-12;
    background-color: lighten($color-09, 30%);
    color: #FFFFFF;

    &.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }
}

.form-auth {
    background-color: #FFFFFF;

}

.input-auth {
    background-color: #eee;

}